/* Scss Document */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
body,
html {
  margin: 0;
  padding: 0; }

body {
  color: #304a5f;
  background: #fff; }

.myNav {
  height: 74px; }

.container-fluid {
  padding-left: 0px;
  padding-right: 0px; }

.carousel-item img {
  object-fit: cover;
  min-width: 100%;
  min-height: 450px;
  overflow: hidden; }

.first-col, .secound-col {
  padding-right: 58px !important; }

@media screen and (max-width: 1100px) {
  .first-col, .secound-col {
    padding: 12px !important; } }
.carousel-caption {
  top: 60%;
  transform: translateY(-60%); }
  .carousel-caption h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 3.125em;
    max-width: 70%;
    text-align: left;
    margin: 0 auto; }

@media screen and (max-width: 1600px) {
  .carousel-caption {
    top: 40%;
    transform: translateY(-40%); }
    .carousel-caption h2 {
      max-width: 80%; } }
@media screen and (max-width: 1100px) {
  .carousel-caption h2 {
    max-width: 100%; } }
@media screen and (max-width: 800px) {
  .carousel-caption {
    top: 50%;
    transform: translateY(-50%); }
    .carousel-caption h2 {
      font-size: 2.125em; }

  h3 {
    padding: 10px 15px; }

  p {
    font-size: 1em !important; } }
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 40px;
  height: 60px; }

.col-md-6 {
  padding-right: 0;
  padding-left: 0; }

h3 {
  line-height: 1.433em;
  font-size: 1.875em;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  padding-top: 68px;
  padding-bottom: 34px; }

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em; }

.article-and-form {
  margin-bottom: 38px; }

.fields {
  width: 100%;
  padding-top: 38px;
  border: none;
  border-bottom: 1px solid #2a697b; }

.myBtn {
  background-color: #E6007E;
  width: 258px;
  height: 51px;
  z-index: 75;
  border: none;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700; }
  .myBtn:hover {
    background: #FFFFFF;
    border: 2px solid #E6007E;
    color: #E6007E;
    cursor: pointer; }

.checkbox-and-text {
  display: flex;
  flex-wrap: wrap; }
  .checkbox-and-text p {
    display: inline-block;
    width: 85%;
    padding: 25px 15px 0; }

input[type=checkbox] + label {
  display: block;
  cursor: pointer; }

input[type=checkbox] {
  display: none; }

input[type=checkbox] + label:before {
  content: "";
  border: 1px solid #000;
  display: inline-block;
  width: 50px;
  height: 50px;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  color: transparent;
  transition: .2s;
  vertical-align: center; }

input[type=checkbox] + label:active:before {
  transform: scale(0); }

input[type=checkbox]:checked + label:before {
  background-color: #E6007E;
  border-color: #000;
  color: #fff; }

input[type=checkbox]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa; }

input[type=checkbox]:checked:disabled + label:before {
  transform: scale(1);
  background-color: #bfb;
  border-color: #bfb; }

.form-error {
  color: #E6007E !important; }

.myProducts {
  background: #2a697b;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.product-container {
  display: flex;
  justify-content: space-around;
  padding: 75px 0; }

.products {
  display: inline-block;
  width: 30%;
  justify-content: space-between; }

img.icon {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center; }

h4 {
  text-align: center;
  color: #fff;
  font-size: 1.625;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; }

.icon {
  padding-bottom: 15px; }

footer {
  padding-top: 55px;
  padding-bottom: 110px;
  background: #313131; }
  footer .footer-text {
    color: white; }
  footer .footer-icon-text {
    color: white;
    display: inline-block;
    margin-bottom: 0; }
  footer img {
    width: 23px;
    margin-right: 13px; }
  footer .footer-item {
    margin-bottom: 26px; }

.social-container {
  position: relative; }

.social-icons-container {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap; }
  .social-icons-container .social-icons {
    padding: 11px; }
    .social-icons-container .social-icons img {
      width: 55px; }

@media screen and (max-width: 800px) {
  footer {
    padding-bottom: 30px; }

  .social-icons-container {
    justify-content: center;
    padding-top: 20px;
    position: relative; }
    .social-icons-container .social-icons {
      justify-content: space-around; } }
@media screen and (max-width: 900px) {
  .info {
    margin-left: 15px; }

  .products {
    padding-top: 30px;
    width: 100% !important;
    display: block !important; }

  .product-container {
    flex-wrap: wrap !important; }

  h4 {
    margin: 0 auto;
    max-width: 300px; } }
